{% extends 'usuarios/base.html' %}
{% block conteudo%}
<form action="/edit/{{ usuarios.id_usuario }}/" method="post">
  {% csrf_token %}
  <div style='text-align: center;' class="container">
      <h1>Edição de Usuário</h1>
      <input type="hidden" name="id_usuario" value="{{ usuarios.id_usuario }}">
      Nome: <input name="nome" class="form-control-sm" type="text" value="{{ usuarios.nome }}">
      Idade: <input name="idade" class="form-control-sm" type="text" value="{{ usuarios.idade }}">
      <button class="form-control-sm">Enviar</button>
  </div>
</form>
{% endblock %}