{% extends 'usuarios/base.html' %}
{% block conteudo%}

<div class="container">
    <table  class="table table-bordered table-striped">
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>idade</th>
            <th>ações</th>
        </tr>
        {% for Usuario in usuarios %}
        <tr>
            <td>{{Usuario.id_usuario}}</td>
            <td>{{Usuario.nome}}</td>
            <td>{{Usuario.idade}}</td>
            <td>
                <a href="/view/{{Usuario.id_usuario}}" type="button" class="btn btn-warning">Visualizar</a>
                <a href="/edit/{{Usuario.id_usuario}}" type="button" class="btn btn-primary">Editar</a>
                <a href="/delete/{{Usuario.id_usuario}}"type="button" class="btn btn-danger btnDel">Deletar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% load static %}
    <script src="{%  static 'javascript.js'%}"></script>
</div>
{% endblock %}